<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lista pacjentów</title>
</head>
<body>
<div th:insert="fragments::cf_header">
    to i tak będzie zastąpione przez thymeleafa
</div>
 <h1>lista pacjentów</h1>
<hr>
<p th:text="|srednia cena za usługę: ${avgPrice} pln|"></p>
<p th:text="|licznik wejsc podczas tej sesji: ${session.lw}|"></p>
<p th:text="|a jej identyfikator to : ${session.seid}|"></p>
<p th:text="|creation time : ${session.lct}|"></p>
<!-- some content -->
<main>
    <!-- some content -->
</main>
<footer th:insert="fragments::cf_footer">
    some temporary content here
</footer>
</body>
</html>